[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "ccfits"]
	path = ccfits
	url = https://github.com/OpenSpace/CCfits
[submodule "cfitsio"]
	path = cfitsio
	url = https://github.com/healpy/cfitsio
